# CLion
.idea/

# VS Code
.vscode/

# CMake
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build.ninja
compile_commands.json

# Executables
*.exe
*.out

# OS files
.DS_Store
Thumbs.db