# Ignore executables
*.exe

# Object files
*.o
*.obj

# Static and dynamic libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Build folders
build/
bin/
out/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp